[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cms = "*"
django-cors-headers = "*"
djangocms-text-ckeditor = "*"
djangocms-link = "*"
djangocms-file = "*"
djangocms-picture = "*"
djangocms-video = "*"
djangocms-googlemap = "*"
djangocms-snippet = "*"
djangocms-style = "*"
djangocms-alias = "*"
djangocms-versioning = "*"
djangocms-frontend = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
